<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>Gestion des Patients</title>
  <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    .selected {
      font-weight: bold;
      color: white !important;
      background-color: #007bff;
    }
    .container {
      margin-top: 40px;
    }
  </style>
</head>
<body>
<div layout:fragment="content1">
<div class="container">
  <h2 class="text-center mb-4">Gestion des Patients</h2>

  <form class="row g-3 mb-4" method="get" th:action="@{/user/index}">
    <div class="col-md-6">
      <input type="text" name="keyword" class="form-control" placeholder="Rechercher un nom"
             th:value="${keyword}">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Chercher</button>
    </div>
    <div class="col-auto">
      <a th:href="@{/admin/formPatient}" class="btn btn-success" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Nouveau Patient</a>
    </div>
  </form>

  <table class="table table-hover table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th><th>Nom</th><th>Prénom</th><th>Date de naissance</th><th>Malade</th><th>Score</th><th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="p : ${listPatients}">
      <td th:text="${p.id}"></td>
      <td th:text="${p.nom}"></td>
      <td th:text="${p.prenom}"></td>
      <td th:text="${#dates.format(p.dateNaissance, 'yyyy-MM-dd')}"></td>
      <td th:text="${p.malade} ? 'Oui' : 'Non'"></td>
      <td th:text="${p.score}"></td>
      <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a class="btn btn-danger btn-sm"
           th:href="@{/admin/delete(id=${p.id},page=${currentPage},keyword=${keyword})}"
           onclick="return confirm('Confirmer la suppression ?')"><i class="bi bi-trash"></i> Supprimer</a>
        <a class="btn btn-warning btn-sm"
           th:href="@{/admin/editPatient(id=${p.id})}"><i class="bi bi-pencil"></i> Modifier</a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      <li th:each="i : ${#numbers.sequence(0, pages.length - 1)}"
          class="page-item" th:classappend="${i==currentPage}? 'active'">
        <a class="page-link"
           th:href="@{/user/index(page=${i},keyword=${keyword})}"
           th:text="${i+1}"></a>
      </li>
    </ul>
  </nav>
</div>
</div>

</body>
</html>
